<ion-tabs>
  <ion-tab-button tab="home">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab-button>
  <ion-tab-button  tab="about">
      <ion-icon name="information"></ion-icon>
      <ion-label>About</ion-label>
      <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab-button>
  <ion-tab-button tab="contacts">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Contact</ion-label>
      <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab-button>
</ion-tabs>
